
html {
 height:100%;
}
body{
  background-color: #D3D3D3;
  height:100%;
  width:100%;
}
section {
  display: flex;
  flex-direction: row;
  height:100%;
}
h2,h3{
  text-align: center;
}

#center {
  display: flex;
  flex-direction:column;
  flex-grow:3;
  order:2;
  border: 1px solid red;
}
#left_side {
  flex-grow:1;
  order:1;
  border: 1px solid red;
}
#right_side {
  flex-grow:1;
  order:3;
  border: 1px solid red;
}


.pkg_deal {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
}
.pkg_hdr {
  width:100%;
}

.pkg_picks {
    border: 1px solid red;
}
.img_box {
  border: 5px solid green;
  flex-direction: row;
  flex-wrap: wrap;
}

#pkg1 {
  background-image: url("../img/san-francisco.jpg");
}
#pkg2 {
  background-image: url("../img/new-york.jpg");
}
#pkg3 {
  background-image: url("../img/london.jpg");
}
#pkg4 {
  background-image: url("../img/napa.jpg");
}
#pkg5 {
  background-image: url("../img/sonoma.jpg");
}
#pkg6 {
  background-image: url("../img/san-francisco-2.jpg");
}

.pkg_info {
  max-width:500px;
  text-align: center;
  color:white;
  font-size: 48px;
  font-weight: bold;
  padding-top:150px;
}
